<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.ebanjia.app">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="cn.ebanjia.app.AndroidApplication"
        tools:replace="android:name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_2"
        android:roundIcon="@mipmap/ic_launcher_2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="cn.ebanjia.app.main.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.ebanjia.app.login.ui.LoginActivity"
            android:launchMode="singleTask"></activity>

        <!-- shareSDK -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="GYPKahfgo8IDbgmfoezKXI1Lj8WuRQGd" />
        <activity android:name="cn.ebanjia.app.info.ui.AddressActivity">

           </activity>
    </application>

</manifest>